
.*.swp
*~
/Debug
/DebugFast
/Release
/ipch
/x64
/Win32
/Makefile
!/CMakeLists.txt
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
*.suo
*.sdf
*.vsp
*.pyc
*.opensdf
*.vsps
*.vcxproj
*.filters
*.user
*.sln
/Default
/bin
/tmp
*.dylib
*.so
*.a
*.dll
*.dir
*.pdb
*.lib